:root {
  --accent-text-color: #dc56c5;
  --modal-bg-color: #fff2fd;
  --modal-text-color: #0e0e0e;
  --modal-accent-first-color: #4c00fe;
  --modal-hover-color: #2c038b;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
